{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>
    body {
        background-color: gray;
    }
</style>

<body>
    <br>
    <div class="container bg-white shadow-lg p-5 form-layout">
        <div class="text-center">
            <i class="fa fa-envelope-o fa-5x text-success"></i>

            <br><br>

            <h3> <strong> A verification email has been sent to your email address! </strong></h3>

            <hr>

            <p>Check your email for further instructions.</p>

        </div>
    </div>
</body>

{% endblock %}